<!Doctype html>
<html>
    <head>
        
    </head>
    <body>
        <p>You have received a message from the Dev Match Contact Form. From: <%= "#{@name}, #{@email}" %></p>
        <p><%= "#{@body}" %></p>
    </body>
    
</html>